<!DOCTYPE html>
<html lang="en">
<block name="include"><include file="Public:header" /></block>
<body class="ecommerce">
    <block name="include"><include file="Public:nav" /></block>
    <div class="main">
      <div class="container">
        <div class="row margin-bottom-40">
          <div class="col-md-12 col-sm-12">
            <div class="product-page">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="product-main-image">
                      
                    <img src="/mall/picture/{$imgs[0]}" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="/mall/picture/{$imgs[0]}">
                  </div>
                  <div class="product-other-images">

                      <volist name="imgs" id="vo" empty="暂时没有商品" >
                          <a href="/mall/picture/{$vo}" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="/mall/picture/{$vo}"></a>
                      </volist>
                   
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h1 style="color:#999;">{$result.name}</h1>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <strong><span>$</span>{$result.price}</strong>
                    </div>

                  </div>
                  <div class="description">
                    <p style="margin:20px 0;">{$result.introduction}</p>
                  </div>
                 
                  <div class="product-page-cart">
                    <button class="btn btn-primary" type="submit" onclick="addCar('{$result.id}')">Add to cart</button>
                  </div>
                 
                </div>
                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#Description" data-toggle="tab">Description</a></li>
                  </ul>

                  <div>

                    <p style="margin:20px 0;">{$result.introduction}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <block name="include"><include file="Public:footer" /></block>


</body>
</html>