<div class="header">
        <div class="container">
          <a class="site-logo" href="./"><img src="__PUBLIC__/assets/corporate/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a>
  
          <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
          <!--购物车-->
          <div class="top-cart-block">
            <div class="top-cart-info">
              <a href="javascript:void(0);" class="top-cart-info-count">0样</a>
              <a href="javascript:void(0);" class="top-cart-info-value">$0</a>
            </div>
            <i class="fa fa-shopping-cart"></i>
            <div class="top-cart-content-wrapper">
              <div class="top-cart-content">
                <ul class="scroller" style="height: 250px;">
                  <!--购物车-->
                 
                 
                </ul>
                <div class="text-right">
                  <a href="?a=car" class="btn btn-default">结算</a>
                </div>
              </div>
            </div>            
          </div>
          <!--END CART -->
    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle"  href="./?a=order">
            我的订单
          </a>
        </li>
      </ul>
    </div>
   </div>
  </div>

  